* {
    font-family: Montserat, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin:0px;
    padding:0px;
}

/****************************
Top Nav
****************************/
.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
    background-color: rgb(15, 14, 6);
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.top-nav nav {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.top-nav a,  .top-nav .logo a{
    display: block;
    margin: 0px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: rgb(223, 148, 37);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* inspiration pour le hover:  https://unused-css.com/blog/css-shake-animation/ */
.top-nav a:hover{
    animation:  shake 0.6s  ;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.top-nav .logo a{
   display: flex;
   align-items: center;
 }

.top-nav .logo img {
   object-fit: cover;
}
/***************************
* Main
****************************/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(252, 231, 205);
}
main aside {
    display: flex;
    flex-direction: column;
}

.app {
    flex-direction: column;
}

/**************************
Section accueil
******************************/

.accueil{
    padding-left: 40px;
    padding-right: 40px;
}

.accueil h1{
    font-size: 40px;
    text-align: center;
}

.accueil h2{
    text-align: center;
    font-size: 30px;
}

/**************************
Section catalogue
******************************/
.catalogue{
    padding: 16px 16px;
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(200px, .25fr));
    gap:16px;
    width: calc(95vw - 150px);
    box-sizing: border-box;
}
.catalogue .carte {
    height: 500px;
    overflow-y: hidden;
}
.catalogue .carte .contenu {
    text-overflow: ellipsis;
}
.catalogue .carte header{
    position: absolute;
    max-width: 200px;
}
.catalogue .carte img {
    object-fit: cover;
    max-width: 100%;
    opacity: .2;
}
.catalogue section{
    min-width: 600px;
}
/************************
Utilitaire
************************/

.filler {
    flex-grow: 1;
}

/************************
Cartes
************************/

.card {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card picture {
    display: flex;
    margin: auto;
    overflow: hidden;
}

.card img {
    width: 200px;
    max-height: 300px;
    object-fit: cover;
    cursor: zoom-in;
    transition: scale 200ms cubic-bezier(0.76, 0, 0.24, 1);
}

.card picture:hover img {
    min-height: 200px;
    scale: 2;
    transition-duration: 800ms, 1200ms;
}

.card h3 {
    margin: 20px 0 0 0;
    text-align: center;
}



.section-meilleures{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
}